<table *ngIf="openInterestData?.length">
  <thead>
    <tr>
      <th>Coin</th>
      <th *ngFor="let item of openInterestData[0]?.data?.slice(removedFromBeginningColumns)">
        <div class="vertical-text">
          {{ item.openTime | date: 'EEE':'':'ru' }}
          {{ item.openTime | date: 'HH:mm':'':'ru' }}
        </div>
      </th>
    </tr>
  </thead>

  <tbody cdkDropList (cdkDropListDropped)="dropRow($event)">
    <tr *ngFor="let coin of openInterestData; let i = index" cdkDrag>
      <td class="coin-label">
        <div class="logo-container">
          <img [appExchangeTooltip]="{ symbol: stripPair(coin.symbol), exchanges: coin.exchanges }"
            [src]="coin.imageUrl" width="20" />
          <span class="coin-name">{{ stripPair(coin.symbol) }}</span>
        </div>
      </td>

      <td *ngFor="let item of coin.data?.slice(removedFromBeginningColumns)" class="color-cell">
        <div matTooltip="{{ item.tooltipText }}" matTooltipPosition="above" class="color-cell"
          [style.backgroundColor]="item.displayedColorValue">
        </div>
      </td>
    </tr>
  </tbody>
</table>
