<div class="subheader">
  <span class="subheader-text">{{ data.label }}</span>
</div>

<table *ngIf="data.tableData?.length" class="data-table">
  <thead>
    <tr>
      <th>Coin</th>
      <!-- Time columns -->
      <th *ngFor="let item of data.tableData[0]?.data">
        <div class="vertical-text">
          {{ item.openTime | date: 'EEE':'':'ru' }}
          {{ item.openTime | date: 'HH:mm':'':'ru' }}
        </div>
      </th>
    </tr>
  </thead>

  <tbody cdkDropList (cdkDropListDropped)="dropRow($event)">
    <tr *ngFor="let coin of data.tableData; let i = index" cdkDrag>
      <!-- Coin Label Cell -->
      <td class="coin-label">
        <div class="logo-container">
          <img [src]="coin.imageUrl" width="20"
            [appExchangeTooltip]="{ symbol: stripPair(coin.symbol), exchanges: coin.exchanges }" />
          <span class="coin-name">{{ stripPair(coin.symbol) }}</span>
        </div>
      </td>

      <!-- Color Cells -->
      <td *ngFor="let item of coin.data" class="color-cell">
        <div [appCellTooltip]="item" [appLittleCellTooltip]="item" class="color-cell"
          [style.backgroundColor]="item.displayedColorValue">
        </div>
      </td>
    </tr>
  </tbody>
</table>
