.subheader {
  text-align: center;
  margin-bottom: 10px;  margin-top: 30px;
}

.subheader-text {
  font-size: 16px; /* Optional: Adjust font size */
  font-weight: bold; /* Optional: Make text bold */
}

.header {
  display: flex;
  align-items: center;     /* Vertically center */
  justify-content: center; /* Horizontally center */
  gap: 10px;               /* Space between text and icon */
  margin-top: 84px;
  margin-bottom: 10px;
}

.header-text {
  font-size: 24px;
  font-weight: bold;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 0px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
}

.echarts-container {
  zoom: 1.25;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  margin-top: 0px;
}
