<div class="header">
  <span class="header-text">Aggregator</span>
</div>
<mat-tab-group style="margin-top: 40px;">
  <mat-tab>
    <ng-template mat-tab-label>Timerframe 1H</ng-template>
    <app-aggregator-tab [chartOptions]="chartsOptions1h"></app-aggregator-tab>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Timerframe 4H</ng-template>
    <app-aggregator-tab [chartOptions]="chartsOptions4h"></app-aggregator-tab>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Timerframe 12H</ng-template>
    <app-aggregator-tab [chartOptions]="chartsOptions12h"></app-aggregator-tab>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Timerframe D</ng-template>
    <app-aggregator-tab [chartOptions]="chartsOptionsD"></app-aggregator-tab>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Funding Rate</ng-template>
    <app-aggregator-tab *ngFor="let chartOptions of chartsOptionsFR" [chartOptions]="chartOptions"></app-aggregator-tab>
  </mat-tab>
</mat-tab-group>

<app-scroll-to-top [scrollOffset]="200" position="right"></app-scroll-to-top>
