<button mat-button [matMenuTriggerFor]="menu">
  <mat-icon>menu</mat-icon>Funding Rate</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="goToFundingRate()"> <mat-icon svgIcon="alarm"></mat-icon>
    <span>Funding Rate</span></button>
  <button mat-menu-item (click)="goToFundingRateChange()"> <mat-icon svgIcon="triggered-alarm"></mat-icon>
    <span>Funding Rate Change</span></button>


  <button mat-menu-item (click)="goToClosePrice()"> <mat-icon>history</mat-icon>
    <span>Close Price</span></button>

  <button mat-menu-item (click)="goToClosePriceChange()"> <mat-icon>history</mat-icon>
    <span>Close Price Change</span></button>

  <button mat-menu-item (click)="goToBuyerRatio()"> <mat-icon>history</mat-icon>
    <span>Buyer Ratio</span></button>

  <button mat-menu-item (click)="goToBuyerRatioChange()"> <mat-icon>history</mat-icon>
    <span>Buyer Ratio Change</span></button>

  <button mat-menu-item (click)="goToQuoteVolume()"> <mat-icon>history</mat-icon>
    <span>Quote Volume</span></button>

  <button mat-menu-item (click)="goToQuoteVolumeChange()"> <mat-icon>history</mat-icon>
    <span>Quote Volume Change</span></button>

  <button mat-menu-item (click)="goToVolumeDelta()"> <mat-icon>history</mat-icon>
    <span>Volume Delta</span></button>

  <button mat-menu-item (click)="goToVolumeDeltaChange()"> <mat-icon>history</mat-icon>
    <span>Volume Delta Change</span></button>

  <button mat-menu-item (click)="goToPerpSpotDiff()"> <mat-icon>history</mat-icon>
    <span>Perp Spot Diff</span></button>


</mat-menu>




<!-- <mat-menu #alerts="matMenu">
  <button mat-menu-item (click)="goToAlertsAtWork()"> <mat-icon svgIcon="alarm"></mat-icon>
    <span>Alerts at Work</span></button>
  <button mat-menu-item (click)="goToTriggeredAlerts()"> <mat-icon svgIcon="triggered-alarm"></mat-icon>
    <span>Triggered Alerts</span></button>
  <button mat-menu-item (click)="goToArchivedAlerts()"> <mat-icon>history</mat-icon>
    <span>Archived Alerts</span></button>
</mat-menu> -->