<div class="header">
  <span class="header-text">{{ title }}</span>
</div>


<mat-tab-group style="margin-top: 40px;">
  <mat-tab>
    <ng-template mat-tab-label>Timerframe 1H</ng-template>
    <app-market-activity-tab [timeframe]="TF.h1"></app-market-activity-tab>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Timerframe 4H</ng-template>
    <app-market-activity-tab [timeframe]="TF.h4"></app-market-activity-tab>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Timerframe 12H</ng-template>
    <app-market-activity-tab [timeframe]="TF.h12"></app-market-activity-tab>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Timerframe D</ng-template>
    <app-market-activity-tab [timeframe]="TF.D"></app-market-activity-tab>
  </mat-tab>
</mat-tab-group>

<app-scroll-to-top [scrollOffset]="200" position="right"></app-scroll-to-top>
