
/* ECHARTS */
.e-container {
  zoom: 1.25;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  margin-top: 0px;
  padding-top: 15px;
  animation: fadeIn 4s ease forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.echart-card {
  width: 400px;                /* Slightly wider card */
  height: 320px;
  padding-top:16px;
  padding-left: 16px;               /* Add internal padding */
  background-color: #1e1e1e;
  border: 1px solid #2c2c2c;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-sizing: border-box;     /* Important to include padding in total size */
}

.echart-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
}

.search-box {
  margin-left: 5em;
  position: sticky;
  top: 24px; /* How far from top it should "stick" */
  z-index: 10; /* Make sure it stays above charts */
}
