.tooltip-content{
  margin-left: 6px;
   display: flex;
  align-items: center;
  gap: 4px;
}

.round-image {
  width: 20px;
  height: 20px;
  border-radius: 50%; /* Circle shape */
  transition: transform 0.2s ease;
  object-fit: cover; /* Ensures image covers the area without stretching */
}

/* Hover effect for images */
.round-image:hover {
  transform: scale(1.1); /* Slight zoom on hover */
}
