<div class="header">
  <span class="header-text">{{ title}}</span>
</div>

<div class="ribbon">
  <ng-container *ngIf="coins && coins.length > 0; else noItems">
    <app-coin-item *ngFor="let coin of coins" [coin]="coin" [isSelected]="true" [actionType]="'compare'"
      [timeframe]="TF.h4"></app-coin-item>
  </ng-container>

  <ng-template #noItems>
    <div class="no-items-message">No items to display</div>
  </ng-template>
</div>

<div *ngIf="coins && coins.length > 0">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>Timerframe 1H</ng-template>
      <app-coin-compare-tab [coins]="coins" [timeframe]="TF.h1"></app-coin-compare-tab>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>Timerframe 4H</ng-template>
      <app-coin-compare-tab [coins]="coins" [timeframe]="TF.h4"></app-coin-compare-tab>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>Timerframe 12H</ng-template>
      <app-coin-compare-tab [coins]="coins" [timeframe]="TF.h12"></app-coin-compare-tab>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>Timerframe D</ng-template>
      <app-coin-compare-tab [coins]="coins" [timeframe]="TF.D"></app-coin-compare-tab>
    </mat-tab>
  </mat-tab-group>
</div>

<app-scroll-to-top [scrollOffset]="200" position="right"></app-scroll-to-top>