<div class="header">
  <span class="header-text">{{ title}}</span>
</div>
<div class="subheader">
  <span class="subheader-text">{{ subtitle }}</span>
</div>
<div class="ribbon">
  <ng-container *ngIf="coins && coins.length > 0; else noItems">
    <app-coin-item *ngFor="let coin of coins" [coin]="coin" [isSelected]="true" [actionType]="'compare'"
      [timeframe]="timeframe"></app-coin-item>
  </ng-container>

  <ng-template #noItems>
    <div class="no-items-message">No items to display</div>
  </ng-template>
</div>
<div class="echarts-container">
  <div *ngIf="oiChartOptions" style="width: 100%; height: 400px;">
    <div echarts [options]="oiChartOptions" style="height: 100%;"></div>
  </div>
  <div *ngIf="closePriceChartOptions" style="width: 100%; height: 400px;">
    <div echarts [options]="closePriceChartOptions" style="height: 100%;"></div>
  </div>
  <div *ngIf="volumeChartOptions" style="width: 100%; height: 400px;">
    <div echarts [options]="volumeChartOptions" style="height: 100%;"></div>
  </div>
  <div *ngIf="volumeDeltaChartOptions" style="width: 100%; height: 400px;">
    <div echarts [options]="volumeDeltaChartOptions" style="height: 100%;"></div>
  </div>
  <div *ngIf="buyerRatioChartOptions" style="width: 100%; height: 400px;">
    <div echarts [options]="buyerRatioChartOptions" style="height: 100%;"></div>
  </div>
  <div *ngIf="frChartOptions" style="width: 100%; height: 400px;">
    <div echarts [options]="frChartOptions" style="height: 100%;"></div>
  </div>
</div>
