.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 74px;
  margin-bottom: 10px;
}

.header-text {
  font-size: 24px;
  font-weight: bold;
}

.subheader {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  /* position: sticky;
  top: 70px;
  background-color: #383838;
  z-index: 999; */
  padding: 10px 0;
}

.subheader-text {
  font-size: 16px;
  font-weight: bold;
}

.ribbon {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px;
  margin-bottom: 20px;
  justify-content: center;
  position: sticky;
  top: 64px; /* Подбери под высоту subheader */
  background-color: #383838; /* или цвет твоего фона */
  z-index: 20;
  padding: 10px 0;
}

.no-items-message {
  text-align: center;
  font-size: 18px;
  color: #aaa;
  width: 100%;
  margin-top: 20px;
  margin-left: 10px;
}
.echarts-container {
  zoom: 1.25;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  margin-top: 0px;
}
