<div class="header">
  <span class="header-text">{{ title}}</span>
</div>
<div class="subheader">
  <span class="subheader-text">{{ subtitle }}</span>
</div>
<div class="ribbon">
  <ng-container *ngIf="coins && coins.length > 0; else noItems">
    <app-coin-item *ngFor="let coin of coins" [coin]="coin" [isSelected]="true"></app-coin-item>
  </ng-container>

  <ng-template #noItems>
    <div class="no-items-message">No items to display</div>
  </ng-template>
</div>
<div class="echarts-container">
  <div *ngIf="oiChartOptions" style="width: 100%; height: 400px;">
    <div echarts [options]="oiChartOptions" style="height: 100%;"></div>
  </div>

  <div *ngIf="!oiChartOptions">
    No data available to display.
  </div>
</div>