<div class="header">
  <span class="header-text">{{ header }}</span>
</div>

<div class="custom-tab-group">
  <button class="custom-tab" [class.active]="selectedTab === 0" (click)="selectTab(0)">
    Timeframe 1h
  </button>
  <button class="custom-tab" [class.active]="selectedTab === 1" (click)="selectTab(1)">
    Timeframe 4h
  </button>
  <button class="custom-tab" [class.active]="selectedTab === 2" (click)="selectTab(2)">
    Timeframe 12h
  </button>
  <button class="custom-tab" [class.active]="selectedTab === 3" (click)="selectTab(3)">
    Timeframe D
  </button>
</div>

<div class="custom-tab-content-wrapper">
  <div class="custom-tab-content" [class.active]="selectedTab === 0">
    <app-data-chart-tab [timeframe]="TF.h1" [dataType]="dataType" [propertyKey]="propertyKey"></app-data-chart-tab>
  </div>
  <div class="custom-tab-content" [class.active]="selectedTab === 1">
    <app-data-chart-tab [timeframe]="TF.h4" [dataType]="dataType" [propertyKey]="propertyKey"></app-data-chart-tab>
  </div>
  <div class="custom-tab-content" [class.active]="selectedTab === 2">
    <app-data-chart-tab [timeframe]="TF.h12" [dataType]="dataType" [propertyKey]="propertyKey"></app-data-chart-tab>
  </div>
  <div class="custom-tab-content" [class.active]="selectedTab === 3">
    <app-data-chart-tab [timeframe]="TF.D" [dataType]="dataType" [propertyKey]="propertyKey"></app-data-chart-tab>
  </div>
</div>

<app-scroll-to-top></app-scroll-to-top>
