<div class="header">
  <span class="header-text">{{ title }}</span>
</div>

<mat-tab-group style="margin-top: 40px;">
  <mat-tab>
    <ng-template mat-tab-label>Timerframe 1H</ng-template>
    <app-mini-sentiment-tab [data]="data1h" [timeframe]="TF.h1"></app-mini-sentiment-tab>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Timerframe 4H</ng-template>
    <app-mini-sentiment-tab [data]="data4h" [timeframe]="TF.h4"></app-mini-sentiment-tab>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Timerframe 12H</ng-template>
    <app-mini-sentiment-tab [data]="data12h" [timeframe]="TF.h12"></app-mini-sentiment-tab>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Timerframe D</ng-template>
    <app-mini-sentiment-tab [data]="dataD" [timeframe]="TF.D"></app-mini-sentiment-tab>
  </mat-tab>

</mat-tab-group>

<app-scroll-to-top [scrollOffset]="200" position="right"></app-scroll-to-top>