<mat-toolbar class="navbar-container">

  <button class="time-btn" matTooltipPosition="above" (click)="goToAdmin()">
    <mat-icon style="cursor: pointer;" svgIcon="admin"></mat-icon>Admin
  </button>

  <button class="time-btn" (click)="goToPanel()">
    <mat-icon style="cursor: pointer;" svgIcon="dashboard"></mat-icon>Panel
  </button>

  <button class="time-btn" (click)="goToCoins()">
    <mat-icon style="cursor: pointer;" svgIcon="local-atm"></mat-icon>Coins
  </button>

  <button class="time-btn" (click)="goToMarketAnalyzer()">
    <mat-icon style="cursor: pointer;" svgIcon="flowchart"></mat-icon>Market
    Analyzer
  </button>

</mat-toolbar>
