/* You can add global styles to this file, and also import other style files */



html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #383838; /* dark background */
  color: #ffffff; /* default text color */
  font-family: 'Roboto', sans-serif;
}
.global-container {
  margin-top: 64px; /* match the navbar height */
  padding: 14px 14px;
  box-sizing: border-box;
}

/* Optional: Make router-outlet fill the available space */
router-outlet + * {
  display: block;
  min-height: calc(100vh - 64px - 48px); /* adjust if needed */
}

/* SNACKBAR CSS FOR ANGULAR 16 */
.warning-snackbar {
  --mdc-snackbar-container-color: #0000b3;
  --mat-mdc-snack-bar-button-color: white;
}

/* SNACKBAR CSS FOR ANGULAR 16 */
.error-snackbar {
  --mdc-snackbar-container-color: rgb(168, 31, 31);
  --mat-mdc-snack-bar-button-color: white;
}

/* SNACKBAR CSS FOR ANGULAR 16 */
.info-snackbar {
  --mdc-snackbar-container-color: green;
  --mat-mdc-snack-bar-button-color: white;
}
