/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #383838; /* dark background */
  color: #ffffff; /* default text color */
  font-family: 'Roboto', sans-serif;
}

.app-scale-wrapper {
  zoom: 0.8;
}

.cdk-overlay-container .mat-mdc-menu-panel {
  transform: scale(0.8) !important;
  transform-origin: top left !important;
  transition: transform 150ms ease-out, opacity 150ms ease-out !important;
  opacity: 1 !important;
}


.global-container {
  margin-top: 0px; /* match the navbar height */
  padding: 14px 14px;
  box-sizing: border-box;
}

/* Optional: Make router-outlet fill the available space */
router-outlet + * {
  display: block;
  min-height: calc(100vh - 64px - 412px); /* adjust if needed */
}

/* SNACKBAR CSS FOR ANGULAR 16 - Dark Theme with Neon Effects */

.warning-snackbar {
  --mdc-snackbar-container-color: #1a1a40; /* Очень тёмно-синий фон */
  color: #00b3ff; /* Неоновый голубой текст */
  box-shadow:
    0 0 8px #00b3ff,
    0 0 20px #00e0ff,
    0 0 30px #00ffff;
  border: 1px solid #00e0ff;
}

/* Основной текст снэкбара */
.warning-snackbar .mdc-snackbar__label {
  text-shadow:
    0 0 5px #00b3ff,
    0 0 10px #00e0ff;
}

/* Кнопка действия */
.warning-snackbar .mdc-button,
.warning-snackbar .mat-mdc-snack-bar-button {
  color: #00e0ff;
  text-shadow: 0 0 8px #00e0ff;
}

/* --------- */

.error-snackbar {
  --mdc-snackbar-container-color: #330000; /* Очень тёмно-красный фон */
  color: #ff3366; /* Неоновый розово-красный текст */
  box-shadow:
    0 0 8px #ff3366,
    0 0 20px #ff0044,
    0 0 30px #ff1a75;
  border: 1px solid #ff0044;
}

.error-snackbar .mdc-snackbar__label {
  text-shadow:
    0 0 5px #ff3366,
    0 0 10px #ff0044;
}

.error-snackbar .mdc-button,
.error-snackbar .mat-mdc-snack-bar-button {
  color: #ff0044;
  text-shadow: 0 0 8px #ff0044;
}

/* --------- */

.info-snackbar {
  --mdc-snackbar-container-color: #003300; /* Очень тёмно-зелёный фон */
  color: #00ff99; /* Неоновый мятный зелёный текст */
  box-shadow:
    0 0 8px #00ff99,
    0 0 20px #00cc77,
    0 0 30px #00ffbb;
  border: 1px solid #00cc77;
}

.info-snackbar .mdc-snackbar__label {
  text-shadow:
    0 0 5px #00ff99,
    0 0 10px #00cc77;
}

.info-snackbar .mdc-button,
.info-snackbar .mat-mdc-snack-bar-button {
  color: #00cc77;
  text-shadow: 0 0 8px #00cc77;
}


/* TOOLTIP BOX */
.tooltip-box {
  position: relative; /* needed for the pseudo-element positioning */
  background-color: #1e1e1e;
  color: #f0f0f0;
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  font-family: 'Segoe UI', sans-serif;
  font-size: 0.875rem;
  max-width: 300px;
  line-height: 1.5;
  border: 1px solid #444;

  min-width: 220px;
  max-width: none; /* ← allow it to grow indefinitely */
  width: auto;     /* ← grow with content */
  white-space: nowrap; /* Prevent text wrapping everywhere */
  cursor: pointer;
  padding: 0rem 1rem 1rem; /* ⬅️ убираем верхний отступ */
}

/* Triangle pointer at bottom */
.tooltip-box::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -12px; /* position it outside on the right */
  transform: translateY(-50%);
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #1e1e1e; /* same as tooltip background */
  width: 0;
  height: 0;
  z-index: 10;
}


.tooltip-box h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #90ee90;
}

.tooltip-box .value {
  font-weight: 500;
  color: #fff;
}

.tooltip-box .highlight {
  color: #90ee90;
}

.tooltip-box .row {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
  white-space: nowrap;       /* Prevents text from wrapping */

}

.tooltip-box .header {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
  gap: 0.5rem;
}

.tooltip-box .label {
  flex: 1;
  color: #aaa;
}

.tooltip-box .data {
  flex: 2;
  text-align: right;
}

.tooltip-box .label,
.tooltip-box .data {
  white-space: nowrap;

}

.tooltip-image {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.tooltip-image:hover {
  transform: scale(1.1);
}

.tooltip-exchanges{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  margin-top: var(--tooltip-margin-top, 15px);
  margin-bottom: var(--tooltip-margin-bottom, 10px);
}

.tooltip-box .header-icon {
  margin-bottom: 0.45rem;
}

.tooltip-box .header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.tooltip-box .close-icon {
  cursor: pointer;
  font-size: 20px;
  color: #aaa;
  transition: color 0.2s ease;
  margin-bottom: 0.4rem;
}

.tooltip-box .close-icon:hover {
  color: #fff;
}

.tooltip-date {
  color: #f1c010;
}

/* Override disabled mat-mini-fab button styles */
/* Override the disabled mini fab background color */
.mdc-fab.mat-mdc-mini-fab:disabled,
.mdc-fab.mat-mdc-mini-fab[disabled] {
  background-color: #4c4d4e !important; /* your desired background */
  color: #e3e5e6 !important;            /* icon color */
  opacity: 1 !important;                 /* remove default opacity */
}

/* Override the ripple effect color on disabled */
.mdc-fab.mat-mdc-mini-fab:disabled .mat-mdc-button-persistent-ripple,
.mdc-fab.mat-mdc-mini-fab[disabled] .mat-mdc-button-persistent-ripple {
  background-color: transparent !important;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.fade-in.show {
  opacity: 1;
}

/* MAT TABS */
.mat-mdc-tab .mdc-tab__text-label {
  color: white !important;
  font-weight: 500;
}


.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: #ffffff !important;
  font-weight: 700;
}


.mat-mdc-tab.mdc-tab--active .mdc-tab-indicator__content--underline {
  background-color: #ffffff !important;
}

/* ECHARTS CONTAINER */
.echarts-container {
  zoom: 1.25;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding: 30px;
  margin-top: 0;


  /* Fade-in */
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

/* Анимация появления */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.chart {
  width: 100%;
  height: 400px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 74px;
  margin-bottom: 20px;
}

.header-text {
  font-size: 24px;
  font-weight: bold;
}

.subheader {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 10px;
}

.subheader-text {
  font-size: 16px;
  font-weight: bold;

}

.ribbon {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px;
  margin-bottom: 20px;
  justify-content: center;
  position: sticky;
  top: 64px; /* Подбери под высоту subheader */
  background-color: #383838; /* или цвет твоего фона */
  z-index: 20;
  padding: 10px 0;
}

.no-items-message {
  text-align: center;
  font-size: 18px;
  color: #aaa;
  width: 100%;
  margin-top: 20px;
  margin-left: 10px;
}

/* TAB */
/* TAB GROUP */
.custom-tab-group {
  display: flex;
}

/* INDIVIDUAL TAB */
.custom-tab {
  flex: 1;
  background: none;
  border: none;
  padding: 12px 0;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  color: white;
  position: relative;
  text-align: center;
  font-weight: 400;
  opacity: 0.8;
  transition:
    color 0.3s ease,
    font-weight 0.3s ease,
    font-size 0.3s ease,
    transform 0.3s ease,
    opacity 0.3s ease;
}

.custom-tab:hover {
  color: #90caf9;
  opacity: 1;
}

.custom-tab.active {
  color: white;
  font-weight: 600;
  font-size: 15px; /* Чуть больше активный */
  opacity: 1;
  transform: scale(1.02); /* Мягкое увеличение */
}

.custom-tab.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20%;
  right: 20%;
  height: 2px;
  background-color: #90caf9;
  transition: all 0.3s ease;
}

/* CONTENT WRAPPER */
.custom-tab-content-wrapper {
  position: relative;
  overflow: hidden;
  min-height: 120px; /* чтобы не прыгал */
}

/* TAB CONTENT */
.custom-tab-content {
  padding: 16px;
  color: white;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transform: translateY(8px);
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
  z-index: 0;
}

.custom-tab-content.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  position: relative;
  z-index: 1;
}

