<table *ngIf="openInterestData?.length">
  <thead>
    <tr>
      <th>Coin</th>
      <th *ngFor="let item of openInterestData[0]?.data?.slice(removedFromBeginningColumns)">
        <div class="vertical-text">
          {{ item.openTime | date: 'EEE':'':'ru' }}
          {{ item.openTime | date: 'HH:mm':'':'ru' }}
        </div>
      </th>
    </tr>
  </thead>

  <tbody cdkDropList (cdkDropListDropped)="dropRow($event)">
    <tr *ngFor="let coin of openInterestData; let i = index" cdkDrag>
      <td class="coin-label">
        <div class="logo-container">
          <img ExchangeTooltipDirective
            [appExchangeTooltip]="{ coinName: stripPair(coin.symbol), exchanges: coin.exchanges }" [src]="coin.imageUrl"
            width="20" />
          <span class="coin-name">{{ stripPair(coin.symbol) }}</span>
          <img class="round-image" src="assets/img/tv-white.png" alt="">
          <img class="round-image" src="assets/img/coinglass-white.png" alt="">
          <img class="round-image" src="assets/img/binance.png" alt="">
        </div>
        <ng-template #tooltipTemplate>
          <div class="tooltip-content">
            <strong>{{ stripPair(coin.symbol) }}</strong>
            <ul>
              <li *ngFor="let exchange of coin.exchanges">
                <!-- <a [href]="exchange.url" target="_blank">{{ exchange.name }}</a> -->
                {{ exchange }}
              </li>
            </ul>
          </div>
        </ng-template>
      </td>

      <td *ngFor="let item of coin.data?.slice(removedFromBeginningColumns)">
        <div class="color-cell" [style.backgroundColor]="item.colors.openInterest"></div>
      </td>
    </tr>

  </tbody>
</table>
